{% extends '@admin/layout.twig' %}
{% block title %}
Editer l' articles
{% endblock %}
{% block body %}

<h1>Creer un article</h1>

<form class="" action="{{ path('blog.admin.create')}}" method="post">
  {% include '@blog/admin/form.twig' %}
  <button class="btn btn-primary" type="submit">Ajouter</button>
</form>
{% endblock %}
