{% extends 'layout.twig' %}
{% block title %}
Page d'accueil
{% endblock %}
{% block body %}
  Bienvenue sur le blog

  <ul>
    <li><a href="{{ path('blog.show', {slug : 'zaefze0-7efzaf'}) }}">Article 1</a> </li>
    <li>Article 1 </li>
    <li>Article 1 </li>
    <li>Article 1 </li>
    <li>Article 1 </li>
    <li>Article 1 </li>
  </ul>
{% endblock %}
