{% extends 'layout.twig' %}
{% block title %}
Page d'accueil
{% endblock %}
{% block body %}
  Bienvenue sur le blog

  <ul>
    {% for post in posts %}
    <li><a href="{{ path('blog.show', {slug : post.slug, id: post.id}) }}">{{ post.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
